.about-container{
    padding: 60px 0;
    font-family: 'Poppins', sans-serif;
    background-color: #6c6cba;
}

.about-header{
    padding-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 400;
    color: #fdf9fa;
}
.about-header h3{
    font-size: 40px;
    font-weight: 800;
}
.about-header p{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 3px;
}

.header-underline{
    height: 3px;
    width: 200px;
    /* background-color: rgb(255, 255, 255); */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
}
.header-underline1{
    height: 9px;
    width: 40px;
    /* background-color: rgb(255, 255, 255); */
    position: absolute;
    border-radius: 5px;
    color: #fdf9fa;
    /* border: 1px solid red; */
}

.about-content-box{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutCard{
    height: 600px;
    width: 80%;
    /* border: 1px solid black; */
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    display: flex;
    justify-content: center;
}
.profilePic{
    width: 48%;
    overflow: hidden;
    /* background-color: #fff; */
    background-color: #6c6cba;
    /* border: 1px solid yellow; */
}
.profilePic img{
    width: 80%;
    height: 80%;
    object-fit: cover;
}

.profile-content{
    width: 52%;
    padding: 40px 40px 40px 30px;
    background-color: #6c6cba;
    color: #fdf9fa;
    text-align: justify;
    word-spacing: 5px;
    line-height: 2;
}
.profile-content h4{
    margin-top: 40px;
}
.keyHighlights{
    list-style-type:"👉 ";
}

.resumeBtn{
    margin-top: 30px;
}

.resumeButton2 {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: 1px solid green;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  .resumeButton2:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  .resumeButton2:active {
    transform: translateY(-1px);
  }

 



@media screen and (max-width: 910px){
    .profilePic{
        display: none;
    }
    .profile-content{
        width: 100%;
        background-color: #6c6cba;
        text-align: justify;
        word-spacing: 5px;
        color: #fdf9fa;
        line-height: 2;
    }
}

@media screen and (max-width: 810px){
    .about-content-box{
        display: flex;
        justify-content: center;
    }
    .aboutCard{
        margin-top: 40px;
        height: fit-content;
        width: 100%;
        box-shadow: none;
        
    }
    .profile-content{
        width: 100%;
    }
    .profile-content .profilesummary{
        padding: 0 10px;
    }
    .profile-content h3{
        margin-top: 40px;
        padding: 0 10px;
    }
    .keyHighlights{
        list-style-type: "👉 ";
    }
    
    .resumeBtn{
        margin-top: 30px;
    }
    
}



.profile-content__1{
    color: #fdf9fa;
    display: flex;
    border: 1px solid red;
    margin: auto;
    
}

.stat{
    display: flex;
    margin: auto;
    color: #fdf9fa;
    justify-content: center;
}

/* calender suru hua ha yaha se */

.calender{
    /* border: 1px solid red;  */
    display: flex;
    padding: 10px;
   
}
.calender_heading{
   padding-top: 80px;
    /* font-size: 26px; */
    /* border: 1px solid red; */
    /* margin: auto; */
    color: #e9ecef;
    width: 300px;
    
    margin: auto;
}

.headingCalen{
    /* border: 1px solid teal; */
    width: 100%;
    display: flex;
}
/* font-size: 20px; */
 /* @media screen and (max-width: 2000px){
   
    .calender_heading{
        font-size: 10px;
        color: #ffffff;
        width: 40%;
        margin: auto;
        border: 1px solid rgb(30, 0, 255);

    }
} */

/*
 @media screen and (max-width: 340px){
    .calender_heading{
        font-size: 10px;
        color: #ffffff;
    }
} */
        /* width: 20%; */


        .stactStyle{
            margin-top: 60px;
            width: 60%;
            margin: auto;
            /* style={{marginTop:"60px" , width:"50%", margin:"auto"}} */
        }

        @media screen and (max-width: 600px){
            .stactStyle{
                margin-top: 60px;
                width: 70%;
                margin: auto;
            }
        }

        .parentstat{
         display: flex;
         width: 60%;
         margin: auto;

        }
        .childstat{
            margin: auto;
            width: 70%;
            justify-content: space-between;
        }

        @media screen and (max-width: 600px){
        .parentstat{
            display: grid;
            width: 100%;
            margin: auto;
           }
        }

        .childstat > p > img{
            width: 97%;
        }